// Imports
@import url(https://fonts.googleapis.com/css?family=Spartan:100,200,300,regular,500,600,700,800,900);

// Font
$bodyFont: Spartan, sans-serif;

$lightWeight: 400;
$medWeight: 500;
$heavyWeight: 700;

$bodySize: 1.5rem;

// Color
$veryDarkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);

$darkGreyMagenta: hsl(303, 10%, 53%);
$lightGreyMagenta: hsl(300, 24%, 96%);
$white: #fff;
